<style>
    .accordion-custom {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }
    
    .active, .accordion-custom:hover {
      background-color: #ccc;
    }
    
    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    .accordion-custom:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

</style>

{% for block in section.blocks %}
    {% if block.type == 'header' %}
        <h3 class="faq-header">
            {{block.settings.header}}
        </h3>
    {% else %}
        <button class="accordion-custom">
            {{block.settings.question}}
        </button>
        <div class="panel">
            <p>
                {{block.settings.answer}}
            </p>
        </div>
    {% endif %}
{% endfor %}


<script>
    var acc = document.getElementsByClassName("accordion-custom");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
</script>
{% schema %}
{
	"name": "FAQ",
	"class": "index-section index-section featured-sider",
	"settings": [],
	"blocks": [{
			"type": "slide",
			"name": "Question",
			"settings": [{
					"type": "header",
					"content": "Question Item"
				},
				{
					"type": "text",
					"id": "question",
					"label": "Question — text"
				},
				{
					"type": "html",
					"id": "answer",
					"label": "Answer — html"
				}
			]
		},
		{
			"type": "header",
			"name": "Header",
			"settings": [{
					"type": "header",
					"content": "Header"
				},
				{
					"type": "text",
					"id": "header",
					"label": "Header"
				}
			]
		}
	],
    "presets": [
    {
      "name": {
        "en": "Custom Faqs"
      },
      "category": {
        "en": "Text"
      }
    }
  ]
}
{% endschema %}